@import "tailwindcss";
*{
  font-family: var(--font-Regular);
}
@theme{
  --color-light-white: #f0f3f5;
  --color-tred: #EA5455;
  --color-tgreen: #28c76f;
  --color-bred: #fa4444;
  --color-bgreen: #26b265;
  --color-bpurple: #5656a7;
  --color-blightred: #f89595;
  --color-bdeepblue: #0015ff;
  --color-blightblue: #0c8ce9;
  --color-byellow: #ffc300;
  --font-Light : "RubikLight";
  --font-Regular : "RubikReg";
  --font-Medium : "Rubikmed";
  --font-SemiBold : "RubikSemi";
  --font-Bold : "RubikBold";
}
@font-face {
  font-family: RubikLight;
  src: url('/public/fonts/Rubik-Light.ttf');
}
@font-face {
  font-family: RubikReg;
  src: url('/public/fonts/Rubik-Regular.ttf');
}
@font-face {
  font-family: Rubikmed;
  src: url('/public/fonts/Rubik-Medium.ttf');
}
@font-face {
  font-family: RubikSemi;
  src: url('/public/fonts/Rubik-SemiBold.ttf');
}
@font-face {
  font-family: RubikBold;
  src: url('/public/fonts/Rubik-Bold.ttf');
}
.active{
  background-color: var(--color-bpurple);
  color: #fff;
}
.input{
  @apply border border-gray-200 rounded-2xl p-2 md:text-base text-xs;
}